# Web Application
streamlit

# Deep Learning & NLP (Forces the lightweight, CPU-only PyTorch wheel)
--extra-index-url https://download.pytorch.org/whl/cpu
torch
transformers

# Data Manipulation
pandas
numpy

# Machine Learning 
scikit-learn